<html>
  <head>
      <title>Motivational page</title>
    </head>
      <body>
          <div>
              <h1><a href="/">Shrinidhi's </a></h1>
          </div>

          <div>
              <p>published: 03.09.2018, 15:14</p>
              <h2><a href="">Thought of the day</a></h2>
              <p>Roses are red, violets are blue, sugar is sweet and so are you.</p>
          </div>

          <div>
              <p>published: 03.09.2018, 15:14</p>
              <h2><a href="">Happiness</a></h2>
              <p>The key to being happy is knowing you have the power to choose what to accept and what to let go.</p>
          </div>
      </body>
  </html>
